<!DOCTYPE html>
	<html>
		<head><font face = "Avenir">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/bio/">Bio</a></li>
	        		<li><a href="/music/">Music</a></li>
	        		<li><a href="/social/">Social Media</a></li>
              <li><a href="/press/">Press</a></li>
            <li><a href="/art/">Merch</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jontyoconnor@gmail.com">Email</a></li>	
				</ul>
			</footer>
		</body>
			</font>
	</html>
